
.block {
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 10px;
}
.green {
  color: green;
}
.count {
  color: red;
  display: inline-block;
  margin: 0 10px;
}
.button {
  padding: 0.4rem 0.5rem;
  background: white;
  border: 1px solid;
}