
div {
  margin: 10px 0;
}
black {
  color: black;
}
.green {
  color: green;
}
.count {
  color: red;
  display: inline-block;
  margin: 0 10px;
}
.button {
  padding: 0.4rem 0.5rem;
  background: white;
  border: 1px solid;
}